<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        
        <div class="container">
          <div class='about'>
            <img class='me' src='/images/me.jpg'>
            <div class='whoami'>
              <p class='name'>Amit Kapadia</p>
              <p>Citizen Science developer for the Zooniverse. Usually found in a planetarium or climbing a crag.</p>
              <p>
                <a href="http://github.com/kapadia/"><img src='/images/github-logo.png'></a>
                <a href="http://twitter.com/amitinho/"><img src='/images/twitter-logo.png'></a>
              </p>
            </div>
          </div>
          
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>
              
              {{ content }}
              
          </div>
        </div> <!-- /container -->

    </body>
</html>
